.keyboardPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.keyboardRow {
  flex: 1 1 0;
  display: flex;
}

.normalKey {
  flex: 0 1 7%;
}

.functionKey {
  flex: 1 1 10%;
}

.spaceKey {
  flex: 1 1 40%;
}

.shiftedKey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  
  font-size: 12px;
}

.key {
  color: cornflowerblue;
}

.activeKey {
  color: aqua;
}