.commandPage {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #2e2e2e;
  gap: 10px;
}

//调试
.commandPage div {
  border: 1px solid #ff7676;
}

.leftPanel {
  flex: 3 1 0;
}

.rightPanel {
  flex: 5 1 0;
}