.commandPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 10px;
}

.commandListPanelList {
  flex: 15 1 0;
}

.commandPanel {
  flex: 1 1 0;
}